<div class="container">
  <h1 class="my-5 display-3 fw-bold ls-tight">
    <span class="text-primary">Add Product</span>
  </h1>
    <form [formGroup]="AddProduct" (submit)="NewProduct()" class="mt-4">
      <div class="row mb-2">
        <div class="col-8">
          <label>Category ID</label>
          <input
            type="number"
            class="form-control"
            placeholder="Enter CategoryId"
            formControlName="categoryId"
          />
        </div>
      </div>
  
      <div class="row mb-2">
        <div class="col-8">
          <div class="col">
            <label>Product Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Product Name"
              formControlName="productName"
            />
          </div>
          <div class="col">
            <label>Product Type</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Product Type"
              formControlName="productType"
            />
          </div>
          <div class="col">
            <label>Product Price</label>
            <input
              type="number"
              class="form-control"
              placeholder="Enter Product Price"
              formControlName="productPrice"
            />
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="form-group ">
          <label for="exampleFormControlTextarea1">Product Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="productDes"></textarea>
        </div>
      </div>
      <div class="row mb-2">
      </div>
  
      <div class="row mb-2">
        <div class="col-8">
          <div class="col">
            <label>Product Image</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Product Image Link"
              formControlName="productLink"
            />
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
        </div>
      </div>
      <div class="col-8">
        <div class="col">
            <button type="submit" class="btn btn-primary ps-5 pt-2 pb-2 pe-5">
                Submit
              </button>
        </div>
      </div>
    </form>