<div>
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              Register! <br />
              <span class="text-primary">To Future of Ecommerce </span>
            </h1>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form [formGroup]="RegisterForm" (submit)="AddCustomer()">
                  <!-- 2 column grid layout with text inputs for the Name and Address -->
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1">Name</label>
                        <input type="text" id="form3Example1" class="form-control" formControlName="name" />
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example2">Email Address</label>
                        <input type="text" id="form3Example2" class="form-control" formControlName="email" />
                      </div>
                    </div>
                  </div>
  
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Address</label>
                    <input type="email" id="form3Example3" class="form-control" formControlName="address" />
                  </div>
  
                  <!-- Phone Number input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4">Phone Number</label>
                    <input type="text" id="form3Example4" class="form-control" formControlName="phoneno" />
                  </div> 
                    <!-- Password input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example5">Password</label>
                    <input type="password" id="form3Example5" class="form-control" formControlName="password" />
                  </div> 
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example6">Confirm Password</label>
                    <input type="password" id="form3Example6" class="form-control" formControlName="confirmpassword" />
                  </div> 
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary ps-5 pt-2 pb-2 pe-5">
                    Sign up
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </div>
