<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">
      <img src="/assets/logo.png" height="40" alt="CoolBrand">
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="book-appointment">Produts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="view-appointment">Add New Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact-us">Add New Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="query-table">Show Query</a>
        </li>
      </ul>
    </div>
  </nav> -->
  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <!-- <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img
            src="/assets/logo.png"
            height="30"
            alt="Ecom Logo"
            loading="lazy"
          />
        </a> -->
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="app-viewproduts">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="app-vieworder">View Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="app-addproduct">Add New Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="app-addcategory">Add New Category</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="app-viewallorders">View All Order</a>
          </li> -->
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>

        <!-- Avatar -->
        <div class="dropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="app-register">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="app-login">Login </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="app-login">Logout </a>
                </li>
              </ul>
        </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->